@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


.pt-sans-regular {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

canvas {
    border-radius: 8px;
    border: 2px black solid;
    background-color: #dddddd;
}

@media screen and (max-width: 600px) {
  button{
    font-size: 2rem;
  }
  button#left {
    position: fixed;
    left: 10px;
    bottom: 10px;
  }
  button#right {
    position: fixed;
    right: 10px;
    bottom: 10px;
  } 
  button#pause {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
  }
  canvas {
    width: 100%;
    height: auto;
  }
}

.shadow{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}